PORT=3000
DB_URL = 'mongodb://localhost:27017/sdc'
FRONTEND_URL='http://localhost:5173'

# Add the first email ID to be ADMIN 
OWNER_EMAIL='' 

# ADD MAIL APP PASSWORD TO SETUP TRANSPORTER TO SEND EMAIL
EMAIL_PASSWORD=''

# RESEND API KEY AND SENDER CONFIGURATION
RESEND_API_KEY=''
RESEND_FROM_EMAIL='onboarding@resend.dev'

# ADD JWT SECRET TO GENERATE THE TOKEN
JWT_SECRET=''